@import '../../styles/variables.scss';

.list {
  h2 {
    color: $primary;
    font-family: 'Nunito';
    font-weight: 800;
  }

  h2:after {
    content: '';
    display: inline-block;
    float: right;
    height: 4px;
    margin-top: 17px;
    width: 80%;

    background: #FFF;

    border-radius: 2px;

    @media (max-width: 576px) {
      width: 60%;
    }
  }
}
