@import '../../styles/variables.scss';

.listItem {
  align-items: center;
  display: flex;
  padding: 25px 35px;

  @media (max-width: 576px) {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 100%;
  }
}

.listItem:hover {
  .avatar img {
    transform: scale(1.2);
  }
}

.avatar {
  flex-shrink: 0;
  height: 80px;
  overflow: hidden;
  width: 80px;

  background-color: $primary;

  border-radius: 100%;

  img {
    width: 100%;
    height: 100%;

    transition: all 1s;
  }

  @media (max-width: 576px) {
    margin-bottom: 10px;
  }
}

.itemContent {
  padding: 0 30px;

  @media (max-width: 576px) {
    width: 100%;
  }

  h3 {
    margin-bottom: 0;

    color: $primary;
    font-size: 20px;
    line-height: 24px;
  }

  span {
    padding: 0;
    margin: 0;

    color: $secondaryTextColor;
    font-size: 14px;
  }

  p {
    margin: 10px 0 0 0;
    padding: 0;

    font-size: 16px;

    @media (max-width: 576px) {
      margin-bottom: 15px;
    }
  }
}

.itemFunds {
  flex-shrink: 0;
  margin-left: auto;

  color: $primary;
  font-family: 'Nunito';
  font-weight: 700;
  font-size: 26px;

  @media (max-width: 576px) {
    margin-left: 0;
  }
}
