@import url('https://fonts.googleapis.com/css?family=Nunito:400,400i,600,700,800,900&amp;subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700&amp;subset=latin-ext');

//Color Variables
$primary: #7EAE2A;
$primaryHover: #C4E538;
$secondary: #CD141A;
$background: #F1F1F1;
$primaryText: #535353;
$secondaryText: #888888;

//Font Variables
$mainFont: 'Nunito', sans-serif;
$secondaryFont: 'Quicksand', sans-serif;

//Borders Variables
$buttonRadius: 200px;
