@import '../../styles/variables.scss';

.header {
  left: -30%;
  overflow: hidden;
  padding: 100px 0 120px 0;
  position: relative;
  width: 160%;

  color: #FFF;
  font-family: 'Nunito';

  background-color: $primary;
  background-image: linear-gradient(to bottom right, $primary, $primaryHover);

  border-radius: 0 0 50% 50%;
  box-shadow: inset 0 -10px 10px -10px $primary;
  transition: all 1s;

  h1 {
    font-size: 36px;
    text-shadow: 2px 2px 3px $primary;
  }

  @media (max-width: 576px) {
    left: 0;
    overflow: hidden;
    padding: 40px 0 100px 0;
    position: relative;
    width: 100%;

    border-radius: 0;

    .container {
      padding-left: 25px;
      padding-right: 25px;
    }
  }

  @media (max-width: 992px) {
    h1 {
      margin-bottom: 20px;

      line-height: 44px;
    }
  }
}

.totalPayments {
  color: #FFF;
  font-size: 14px;
  font-weight: 600;
}

.heartsAnimation {
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}
