@import 'styles/variables.scss';

.app {
  min-height: 100%;
  overflow: hidden;
  padding-bottom: 30px;
  width: 100%;

  color: $primaryTextColor;
  font-family: $secondaryFont;

  background-color: $background;
}
