@import '../../styles/variables.scss';

.progressBar {
  padding: 0 15px;
  width: 100%;
}

.progressOuter {
  padding: 15px;

  background-color: #FFF;

  border-radius: 100px;
  box-shadow: 0px 3px 4px 0px #BDC3C7;
}

.progressInner {
  position: relative;
  overflow: hidden;

  background-color: $background;

  border-radius: 100px;
  box-shadow: inset 0px 3px 4px 0px #BDC3C7;

  span {
    display: block;
    padding: 5px;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 100;

    color: #608B15;
    font-weight: 600;
    text-align: center;
  }

  .progressPercent {
    height: 100%;
    overflow: hidden;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 0;

    background-color: $primary;
    background-image: linear-gradient(to right, $primary, $primaryHover);

    animation: progress 3s ease-out;
  }
}
@keyframes progress {
  0% {width: 0;}
  100% {width: 100%}
}
